
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      {% load bootstrap3 %}
      {% bootstrap_css %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>发布会管理系统</title>

  </head>

<body>

      <!--导航条-->
      <nav class="navbar navbar-fixed-top navbar-inverse">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/event_manage/">51talk签到系统</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li>
                        <a href="/event_manage/">发布会</a>
                      </li>
                      <li class="active">
                        <a href="/guest_manage/">嘉宾</a>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="#">{{ user }}</a>
                      </li>
                      <li>
                        <a href="/logout/">退出</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>

      <!--嘉宾添加-->
      {% if type == "add" %}

          <h3>添加嘉宾</h3>

          <form class="form-horizontal" style="margin-left:500px;margin-top: 160px;" method="post" action="/guest_manage/add_guest/">
              <fieldset>
                  <div class="control-group">
                      <div class="controls">
                          <label class="control-label">姓名</label>
                          <input type="text" name='guest_name' class="input-xlarge" style="margin-left: 28px;width:200px;">
                          <span style="color:red">{{ guest_name }}</span>
                      </div>
                  </div>

                  <div class="control-group" style="margin-top: 20px;">
                      <div class="controls">
                          <label class="control-label">手机号</label>
                          <input type="text" name='guest_phone' class="input-xlarge" style="margin-left: 14px;width:200px;">
                          <span style="color:red">{{ guest_phone }}</span>
                      </div>
                  </div>

                  <div class="control-group" style="margin-top: 20px;">
                      <div class="controls">
                          <label class="control-label">邮箱</label>
                          <input type="text" name='guest_email' class="input-xlarge" style="margin-left: 28px;width:200px;">
                          <span style="color:red">{{ guest_email }}</span>
                      </div>
                  </div>

                  <div class="control-group" style="margin-top: 20px;">
                      <div class="controls">
                          <label class="control-label" style="left: 40px;float: left">发布会名称</label>
                          <select class="form-control" name="event_name" style="width:200px;">
                              {% for event in events %}
                              <option>{{ event.name }}</option>
                              {% endfor %}
                          </select>
                          <span style="color:red">{{ event_name }}</span>


                      </div>

                  </div>

                  <div class="control-group" style="margin-top: 20px;">
                      <div class="controls" style="height:30px;">
                          <label class="control-label" style="left: 40px;float: left">状态</label>
                          <label class="radio inline" style="left: 60px;float: left">
                                <input type="radio" value="1" checked="checked" name="guest_status">开启
                          </label>
                          <label class="radio inline" style="left: 90px;float: left;">
                                <input type="radio" value="0" name="guest_status">关闭
                          </label>
                      </div>
                  </div>

                  <div class="control-group" style="margin-left:20px;margin-top:20px;">
                      <div class="controls">
                        <button class="btn btn-success">保存</button>
                      </div>
                  </div>
              </fieldset>
          </form>

      {% endif %}


      <!--嘉宾表单list-->
      {% if type == "list" %}

      <div class="container theme-showcase" role="main">

          <div class="page-header" style="margin-top: 80px;">

               <div id="navbar1" class="navbar-collapse collapse">

                  <form class="navbar-form" method="get" action="/search_phone/">
                      <div class="form-group">
                          <input name="phone" type="tel" placeholder="手机号" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-success">搜索</button>
                  </form>
                  <button class="btn btn-primary" name="submit" style="float:right;"
                          onclick="location.href='/guest_manage/add_guest/'">创建
                  </button>

               </div>
          </div>

          <div class="row">

              <div class="col-md-6" style="width:1170px;">

                  <table class="table table-striped">

                      <thead>

                          <tr>
                              <th>姓名</th>
                              <th>手机号</th>
                              <th>邮箱</th>
                              <th>签到状态</th>
                              <th>创建时间</th>
                              <th>发布会id</th>
                          </tr>
                      </thead>

                      <tbody>

                          {% for guest in guests %}
                          <tr>

                              <td>{{ guest.realname}}</td>
                              <td>{{ guest.phone}}</td>
                              <td>{{ guest.email}}</td>
                              <td>{% if guest.sign == True %}

                                  <span>开启</span>

                                  {% elif guest.sign == False %}

                                  <span>禁用</span>

                                  {% endif %}
                              </td>
                              <td>{{ guest.create_time | date:"Y-m-d H:i:s"}}</td>
                              <td>{{ guest.event }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
          <div style="text-align: center;color:red">{{ hint }}</div>
     </div>

      {% endif %}


      <!--嘉宾分页器-->
      <div style="text-align: center;">

          <div class="pagination">

              <span class="step-links">

                  {% if guests.has_previous %}

                        {% if phone %}

                            <a href="?phone={{ phone }}&page={{ guests.previous_page_number}}">上一页</a>

                        {% else %}

                            <a href="?page={{ guests.previous_page_number}}">上一页</a>

                        {% endif %}

                  {% endif %}

                        {% if guests %}

                             <span class="current">

                                 Page {{ guests.number }} of {{ guests.paginator.num_pages }}.

                             </span>

                        {% endif %}

                  {% if guests.has_next %}

                      {% if phone %}

                            <a href="?phone={{ phone }}&page={{ guests.next_page_number}}">下一页</a>

                      {% else %}

                            <a href="?page={{ guests.next_page_number }}">下一页</a>

                      {% endif %}

                  {% endif %}

              </span>
          </div>
      </div>

      <!--按钮分页器-->
      {% if search_result == "result_data" %}

      <div class="container" style="text-align: center;">

          <div class="pagination">

              {% if guests.has_previous %}

                  {% if name %}

                      <li><a href="?name={{ name }}&page={{ guests.previous_page_number}}">&laquo;</a></li>

                      <li><a href="?name={{ name }}&page={{ guests.previous_page_number}}">{{ guests.previous_page_number}}</a></li>

                  {% else %}

                      <li><a href="?page={{ guests.previous_page_number}}">&laquo;</a></li>

                      <li><a href="?page={{ guests.previous_page_number}}">{{ guests.previous_page_number}}</a></li>

                  {% endif %}

              {% endif %}

              {% if guests %}

                  {% if guests.has_previous %}

                      <li class="active"><a href="?name={{ name }}&page={{ guests.number}}">{{ guests.number}}</a></li>

                  {% else %}

                      {% if name %}

                          <li class="disabled"><a href="#">&laquo;</a></li>

                          <li class="active"><a href="?name={{ name }}&page={{ guests.number}}">{{ guests.number}}</a></li>

                      {% else %}

                          <li class="disabled"><a href="#">&laquo;</a></li>

                          <li class="active"><a href="?page={{ guests.number}}">{{ guests.number}}</a></li>

                      {% endif %}

                  {% endif %}

              {% endif %}

              {% if guests.has_next %}

                  {% if name %}

                      <li><a href="?name={{ name }}&page={{ guests.next_page_number}}">{{ guests.next_page_number}}</a></li>

                      <li><a href="?name={{ name }}&page={{ guests.next_page_number}}">&raquo;</a></li>

                  {% else %}

                      <li><a href="?page={{ guests.next_page_number}}">{{ guests.next_page_number}}</a></li>

                      <li><a href="?page={{ guests.next_page_number}}">&raquo;</a></li>

                  {% endif %}

              {% else %}

                  <li class="disabled"><a href="#">&raquo;</a></li>

              {% endif %}
      </div>

      {% endif %}


</body>
</html>